
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 220px;
    background-color: rgba(13, 15, 21, 0.582); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    color: white;
    padding: 1rem;
    z-index: 1000;
    overflow-y: auto;
    border-right: 1px solid rgba(255, 255, 255, 0.05);

  }
  

  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    margin-bottom: 1rem;
  }
  
  .nav-links a {
    font-size: large;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 6px;
    transition: background-color 0.3s;
  }
  
  .nav-links a:hover,
  .nav-links a.active {
    background-color: #3333337e;
  }
  