<div class="sidebar">
    <ul class="nav-links">
      <li>
        <a routerLink="/waluty" routerLinkActive="active">
          <i class="bi bi-currency-exchange me-2"></i> Waluty
        </a>
      </li>
      <li>
        <a routerLink="/kryptowaluty" routerLinkActive="active">
          <i class="bi bi-currency-bitcoin me-2"></i> Kryptowaluty
        </a>
      </li>
      <li>
        <a routerLink="/surowce" routerLinkActive="active">
          <i class="bi bi-droplet-half me-2"></i> Surowce
        </a>
      </li>
      <li>
        <a routerLink="/wiadomosci" routerLinkActive="active">
          <i class="bi bi-newspaper me-2"></i> Wiadomości
        </a>
      </li>
    </ul>
  </div>
  