.flag-icon {
    width: 20px;
    height: 15px;
    margin-right: 8px;
  }
  
  .bi-arrow-up {
    color: green;
  }
  
  .bi-arrow-down {
    color: red;
  }
  
  .bi-arrow-right {
    color: gray;
  }
  