<div class="currency-dashboard">
  <div class="chart-header" *ngIf="selectedCrypto">
    <h2>{{ selectedCrypto.name }}</h2>
  </div>

  <div class="chart-wrapper">
    <div class="chart-toolbar">
      <select [(ngModel)]="selectedRange" (change)="loadChartData()">
        <option value="7">7 dni</option>
        <option value="30">30 dni</option>
        <option value="90">90 dni</option>
        <option value="365">1 rok</option>
      </select>
    </div>
    <canvas id="currencyChart"></canvas>
  </div>

  <div class="crypto-tiles">
    <div 
      *ngFor="let crypto of cryptos" 
      class="crypto-tile"
      [class.selected]="crypto.id === selectedCrypto?.id"
      (click)="setCrypto(crypto)">
      <img [src]="crypto.image" [alt]="crypto.name" />
      <div class="info">
        <div class="name">{{ crypto.name }}</div>
        <div class="symbol">{{ crypto.symbol | uppercase }}</div>
        <div class="price">${{ crypto.current_price | number:'1.2-2' }}</div>
      </div>
    </div>
  </div>
</div>
