.currency-dashboard {
 height: 100vh;
  margin-left: 225px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Segoe UI', sans-serif;
}

.chart-toolbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.chart-toolbar select {
 background: #1e1e2e;
  color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  border: none;
}

.chart-wrapper {
  background: rgba(30, 30, 45, 0.9);
  border-radius: 16px;
  padding: 1rem 1.5rem;
  flex: 1;
  position: relative;
}

canvas {
  width: 100% !important;
  height: 34vh !important;
}
@media  (min-height:900px) {
  canvas {
  width: 100% !important;
  height: 55vh !important;
}
}
.crypto-tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.crypto-tile {
  background: rgba(255, 255, 255, 0.05);
  color: #ccc;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  width: calc(20% - 1rem);
  min-width: 150px;
  transition: background 0.3s;
}

.crypto-tile:hover {
  background: rgba(255, 255, 255, 0.1);
}
.crypto-tile:active {
  background: rgba(255, 255, 255, 0.1);
}
.crypto-tile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.crypto-tile .info {
  display: flex;
  flex-direction: column;
}

.crypto-tile .name {
  font-weight: bold;
}

.crypto-tile .symbol {
  text-transform: uppercase;
  font-size: 0.85rem;
  color: #ccc;
}

.crypto-tile .price {
  font-size: 0.95rem;
  color: #00ff88;
}
.chart-header {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.crypto-tile.selected {
  border: 2px solid #00bfff;
  background-color: rgba(0, 191, 255, 0.1);
}
