


 .currency-table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    background-color: rgba(21, 21, 27, 0.65);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    color: white;
    border-radius: 16px;
    overflow: hidden;
    font-size: 1.1rem;        
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);  
  }
  
  .currency-table th,
  .currency-table td {
    padding: 1rem 1.5rem;   
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .currency-table th {
    background-color: rgba(112, 112, 136, 0.603);

    font-weight: 600;
    font-size: 1.15rem;
  }
  
  .currency-table td {
    background-color: rgba(89, 89, 110, 0.3);

  }
  
  .currency-section {
    padding-left: 230px;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  