<div class="currency-dashboard" >
  <div class="chart-wrapper">
    <div class="chart-toolbar">
      <select [(ngModel)]="selectedRange" (change)="loadChartData()">
        <option value="week">7 dni</option>
        <option value="month"> 30 dni</option>
        <option value="3m"> 90 dni</option>

        <option value="year">1 rok</option>
      </select>
    </div>
    <canvas id="currencyChart"></canvas>
  </div>

  <div class="selected-currency-box"  (click)="toggleCurrencyList()" (change)="loadChartData()">
  <ng-container *ngIf="selectedCurrencyData">
    <img [src]="getFlagUrl(selectedCurrencyData.code)" />
    <span>{{ selectedCurrencyData.code }}</span>
    <span class="rate">{{ selectedCurrencyData.mid | number:'1.4-4' }}</span>
    <span class="trend" *ngIf="trendDirection !== 'none'">
      <span [ngClass]="{
        'arrow-up': trendDirection === 'up',
        'arrow-down': trendDirection === 'down'
      }">
        {{ trendDirection === 'up' ? '▲' : '▼' }}
      </span>
      <span class="percent">{{ trendChangePercent }}%</span>
    </span>
  </ng-container>
</div>


  <div class="converter-box">
    <div class="converter-row">
      <img [src]="getFlagUrl(fromCurrency)"  />

      <input type="number" [(ngModel)]="fromAmount" (input)="calculateToAmount()" />
      <select [(ngModel)]="fromCurrency" (change)="calculateToAmount()">

        <option value="PLN">
          PLN
        </option>

        <option *ngFor="let rate of exchangeRates" [value]="rate.code">
          {{ rate.code }}      

        </option>
      </select>
    </div>

    <div class="equals">=</div>

    <div class="converter-row">
      <img [src]="getFlagUrl(toCurrency)" alt="flaga" />

      <input type="number" [(ngModel)]="toAmount" (input)="calculateFromAmount()" />
      <select [(ngModel)]="toCurrency" (change)="calculateToAmount()">
        <option value="PLN">PLN</option>
        <option *ngFor="let rate of exchangeRates" [value]="rate.code">
          {{ rate.code }} 
        </option>
      </select>
    </div>
  </div>

 <div class="currency-list-overlay" *ngIf="showCurrencyList">
    <div class="currency-list">
      <div 
        class="currency-item" 
        *ngFor="let rate of exchangeRates" 
        (click)="setCurrency(rate.code)" (click)="loadChartData()" >
      <img [src]="getFlagUrl(rate.code)" alt="flaga" />
        <span>{{ rate.currency }}</span>
        <span>{{ rate.code }}</span>
        <span>{{ rate.mid | number:'1.4-4' }}</span>
      </div>
    </div>
  </div>
</div>
