<div class="home-container">
  <div class="top-section">
    <div class="weather-box">
      <div class="title">Aktualna Pogoda</div>
      <div *ngIf="weather">
        <div>Temperatura: {{ weather.temperature }}°C</div>
        <div>Wiatr: {{ weather.windspeed }} km/h</div>
        <div>{{ currentTime | date: 'dd MMMM yyyy, HH:mm' }}</div>
      </div>
      <div *ngIf="!weather && !error">Ładowanie pogody...</div>
      <div *ngIf="error">{{ error }}</div>
    </div>

    <div class="empty-right-box">
      <div class="clock-grid">
        <div class="clock-card">
          <div class="city">Nowy Jork</div>
          <div class="time">{{ newYorkTime | date: 'HH:mm' }}</div>
        </div>
        <div class="clock-card">
          <div class="city">Londyn</div>
          <div class="time">{{ londonTime | date: 'HH:mm' }}</div>
        </div>
        <div class="clock-card">
          <div class="city">Tokio</div>
          <div class="time">{{ tokyoTime | date: 'HH:mm' }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="tile-section">
    <a
  class="currency-tile"
  *ngFor="let item of currencies"
  [routerLink]="item.type === 'waluta' ? '/waluty' : '/kryptowaluty'"
  routerLinkActive="active"
>
  <img [src]="item.icon" [alt]="item.label" />
  <div class="label">{{ item.label }}</div>
  <div class="code">{{ item.code | uppercase }}</div>
  <div class="rate">{{ item.rate }}</div>
</a>

  </div>

<div style="margin-top: 2rem;">
  <div style="font-weight: bold; margin-bottom: 0.5rem;">Kurs złota (ostatnie 30 dni)</div>
  <div style="height: 300px;">
    <canvas id="goldChart"></canvas>
  </div>
</div>


</div>


